<p>
  <legend class="row legend-style" style=" color: black;"> We’re delighted to announce the arrival of our little princess Sia. We wanted to create a personalized message wall for her to revisit all the well wishes/love she has received while she was a tiny baby to remember. We'd love to get your blessings for Sia on all special occasions - Diwali, Holi , Christmas, Birthday's etc...</legend>
    <img src="../../assets/facebook_login.png" class="align-login" (click)='  facebookLogin()' />
</p>
