<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
<div style="text-align:center" >
  <h1>
    Welcome to {{ title }}!

  </h1>


</div>
  <legend class="row legend-style" style=" color: black;"> We are blessed with a baby Girl named Sia. We wanted to create a personalized message wall for her to revisit all the well wishes/love she has received while she was a tiny baby to remember. We'd love to get your blessings for Sia on all special occasions - Diwali, Holi , Christmas, Birthday's etc...</legend>
<app-nav></app-nav>
  <!--<app-message></app-message>-->
<router-outlet></router-outlet>

</div>

