<div class=" mui-form" *ngIf="userDataForSession.emailId === undefined">
   User is not logged in ,  <a  routerLink="/login"> Please Click here to Login</a>
</div>
<div class=" mui-form" *ngIf="userDataForSession.emailId !== undefined && userDataForSession.emailId.length !== 0 ">

<form>
  <div class="container">
  <legend class="row " mdl-button mdl-js-button mdl-button--icon> Welcome - {{userDataForSession.name}}, </legend>
  <div class="row "> As you are aware Aug 21, 5:15 PM CST - We are blessed with a baby Girl named Sia. We wanted to create a personalized message wall for her to revisit all the well wishes/love she has received while she was a tiny baby to remember. we'd love to get your blessings for Sia on all speacial occasions - Diwali, holi , Christmans, Birthday's etc...</div>
 <div class="row"> We'd truly appreciate if you could use below space to save your Messages/Greetings/Well Wishes  </div>
  <!--<mat-form-field>-->
    <div class=" row mui-text-field">


      <textarea id="message"  rows="20" cols="40"
                matInput  [(ngModel)]="message"
                name="message"
                     floating-label
      ></textarea>
    </div>
  <!--</mat-form-field>-->
  <button class="row mui-btn mui-btn-raised" type="button" (click)="submitMessageForUser(message,userDataForSession.emailId, userDataForSession.name, userDataForSession.imageURL)">Submit</button>
  </div>
  <!--<button class="mui-btn mui-btn-raised"type="button" (click)="submitMessageForPublic(message,userDataForSession.emailId, userDataForSession.name)">SubmitForPublic</button>-->
</form>
</div>

