<div class=" mui-form" *ngIf="userDataForSession.emailId === undefined">
   User is not logged in ,  <a  routerLink="/login"> Please Click here to Login</a>
</div>
<div class=" mui-form" *ngIf="userDataForSession.emailId !== undefined && userDataForSession.emailId.length !== 0 ">

<form>
  <div class="container">
  <legend class="row " mdl-button mdl-js-button mdl-button--icon> Welcome - {{userDataForSession.name}}, </legend>
 <div class="row" style=" color: white; background-color: #a57d7d"> We'd truly appreciate if you could use below space to save your Messages/Greetings/Well Wishes  </div>
  <!--<mat-form-field>-->
    <div class=" row mui-text-field " style="padding-top: 2%">


      <textarea class="col-sm-4"  id="message"  rows="20" cols="40"
                matInput  [(ngModel)]="message"
                name="message"
                     floating-label
      ></textarea>

      <div class="col-sm-4">
        <legend>Sample auto template</legend>
        <span>(Select to populate message with auto template)</span>
        <select (change)="onSelect($event.target.value)" multiple class="  form-control" id="exampleFormControlSelect2">
          <option *ngFor="let msg of toppingList" value= {{msg.messageText}}>
            {{msg.messageText}}
          </option>
        </select>
      </div>

    </div>
  <!--</mat-form-field>-->
  <button class="row mui-btn mui-btn-raised" type="button" (click)="submitMessageForUser(message,userDataForSession.emailId, userDataForSession.name, userDataForSession.imageURL)">Submit</button>


  </div>
  <!--<button class="mui-btn mui-btn-raised"type="button" (click)="submitMessageForPublic(message,userDataForSession.emailId, userDataForSession.name)">SubmitForPublic</button>-->
</form>
</div>

