<!--<p>-->

<!--Messages <br>-->


<!---->
<!---->
<!--</p>-->

<div class=" mui-form" *ngIf="userDataForSession.emailId === undefined">
  user is not logged in , <a routerLink="/login"> Login</a>
</div>
<div class=" mui-form"
     *ngIf=" wallData !== undefined && wallData.data !== undefined && userDataForSession.emailId !== undefined">
  <!--{{ wallData.data.Items[0].message}}-->

  <div  style="border: 1px solid black"
  class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.sm="1"
       *ngFor="let item of wallData.data.Items  ">
    <!--<div style="border: 1px solid black">-->
      <label class="item item-1 mat-form-field" fxFlex>{{item.user_name}}</label>
      <label class="item item-2" fxFlex>{{item.message}}</label>
      <label class="item item-3" fxFlex>{{item.user_email_id}}</label>
    <!--</div>-->
  </div>

</div>
